################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommercialExtraction/FileContentIndex/507df9b4-558a-4283-a4b4-f474f7bf4cc7.vsidx
/.vs/CommercialExtraction/FileContentIndex/7050504f-6ae4-47f2-86b4-acc9ad620e71.vsidx
*.vsidx
